/* google Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700&display=swap");

.sectionC {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.pricing {
  text-align: center;
  padding-bottom: 3vw;
}

/* about */
.sectionC .container {
  padding: 0 3.9vw;
}

.text-heading {
  color: #234cad;
  padding-bottom: 50px;
  font-weight: 700;
}

.aboutRight {
  background-color: #f2f6ff;
  border-radius: 50px;
}

.aboutRight .card {
  width: fit-content;
  border-radius: 20px;
  flex: none;
}

/* card */

.pricing-card :hover {
  background-color: #ffff;
  color: #234cad;
  transition: all 0.5s ease;
  border-radius: 60px;
}

.card-explor {
  border: 3px solid #234cad;
  border-radius: 60px;
  margin: 10px;
  background-color: #f2f6ff;
}

.card-body {
  color: #234cad;
}

.pricing .btn {
  border-radius: 37.5px;
  border: 3px solid #234cad;
}

.text-pricing {
  font-weight: 700px;
  color: #234cad;
  line-height: 65px;
  font-weight: 700;
}

/* Panel */

.sign {
  border-radius: 60px;
  margin-bottom: 5vw;
  background: #f2f6ff;
  color: #234cad;
  font-weight: 700;
}

.sign .text {
  font-weight: 700;
}
.sign .btn {
  border-radius: 12.5px;
}

.sign .form-control {
  border-radius: 17.5px;
  padding: 15px;
}

.btn-position {
  transform: translate(-125%, 12.5%);
  width: 45px;
  height: 45px;
  top: 0;
  right: 0;
}

/* footer 1 */

.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  padding: 70px 0;
  display: block;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 49px;
  color: #234cad;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  color: #234cad;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #000;
  padding-left: 8px;
}

/*responsive*/
@media (max-width: 768px) {
  .aboutLeft {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .text-pricing {
    line-height: normal;
    margin-bottom: 20px;
  }

  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
